doctype html

html(lang="en")
  head
    title Converting Elm SPA Example to Elm Bootstrap
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/reveal.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/theme/source/simple.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    )

  body
    .reveal: .slides

      section
        h1 Converting Elm SPA Example to Elm Bootstrap

      section
        p The task proved to be more challanging than initially expected. There were several aspects that contributed to it:

        ol
          li CSS Shipped with Conduit
          li Markup prescribed by Conduit
          li The structure of the original Elm SPA Example
          li Cumbersome markup library
 
      section
        h2 CSS Shipped with Conduit

      section
        p What is Conduit?

        p: small It's the name of the application (kind of a Medium clone) that has multiple implementations of front-end and back-end. Elm SPA Example is one of them, ours is another.

        p: small More information at #[a(href="https://realworld.io/") RealWorld.io]

      section
        p The Conduit CSS is not Bootstrap compatible
        p It has a lot of divergences 
        p I would call them bugs
      
      section
        h3 Lack of Responsivness

        p None of the examples I saw takes any effort to look decently on small viewports (like mobile devices)

        p See the flagship #[a(href="https://react-redux.realworld.io/") React - Redux implementation]

      section
        h3 Non-Standard Classes

        p Elm Bootstrap is producing standard Bootstrap markup 

        p It doesn't interact well with the CSS (e.g. the Navbar issues discussed in #[a(href="https://github.com/niteoweb/elm-spa-example/pull/3#issuecomment-487469965") #3])

      section
        h2 Pagination

      section
        p The links look bad (all 50 pages wrapped in 3 rows and growing)


        img(src="./pagination-50-links.png")

      section
        p I've addressed it here #[a(href="https://github.com/niteoweb/elm-spa-example/commit/3df2fdfb50e29aa8c6c4a2dc7eb6befdd83c0407") #[code 3df2fdf]]

      section
        h2 Navigation

      section 
        p Navigating back from the article doesn't preserve the pagination (it's not part of the browser history) and you always end up on page 1...

      section
        video(controls)
          source(src="./pagination-lost-when-navigating-back-from-article.mov")

      section
        p ...but navigation is preserved when you navigate to a different feed.
        

      section
        video(controls)
          source(src="./pagination-preserved-across-feeds.mov")

      section
        h2 Elm Bootstrap Package

      section
        p Elm Bootstrap promises to bring #[strong fairly type safe API] so that you can spend the majority of your time designing your application #[strong not worrying about doing stuff that doesn't make sense] or won't work.

      section
        p Elm Bootstrap is solving a problem that I don't think is worth solving beyond what Elm Html does: type related errors in markup.

      section
        p Types are powerful tool that help reduce bugs in computation. I absolutely adore type system in Elm.
        
        p But in markup these kinds of bugs seldom happen.

      section
        p If you mistype a name of a Bootstrap class the bug will be immediately visible on screen and usually easy to pinpoint and fix. This is due to graphical nature of the view. 
        
        p In contrast, business logic bugs often don't manifest themselves in obvious ways and that's where types are very helpful.

      section
        p Also, I challenge that in a real life application we could avoid using untyped classes. 
        
        p See #[a(href="https://github.com/niteoweb/elm-spa-example/commit/5010ab9254663e5a09992fd3c52184f47b7329bc") #[code 5010ab9]]

      section
        p The wonderful thing about Bootstrap is it's composability. You have few dozen of classes that you can mix and match together and they usually do what you expect. It's easy to develop intuitions about it. 

      section
        p With typed Bootstrap this composability is mostly lost. For example a #[code Navbar.Config] is different type than #[code Card.Config] so doing the same thing requires different approaches.
        
      section
        p Of course individually this is not a problem, but it adds up to a cumbersome experience: you have to learn not only Bootstrap but also the Elm Bootstrap and it's abstractions. And in the end you still have a mishmash of typed elements, type transformations and strings.
        
        p IMO the payoff is not justifying it. 
          
      section
        h3 Conclusion

        p I #[i.fas.fa-heart] Elm and I #[i.fas.fa-heart] Bootstrap

        p Elm Bootstrap not so much .

      section
        h2 Suggestions

      section
        p Stick with standard Elm Html and use standard Bootstrap classes.

        p: small That way you only need to learn Elm syntax, which is relatively straight forward.

      section
        p Introduce abstractions when we need them
        
        p: small As we see patterns in our applications, abstract some of them into reusable functions. Don't jump into whole systems on top of other systems.
            
      section
        p Avoid early modularization.

        p: small IMO code by Richard Feldman is overly modularized and sometimes it makes changes more difficult than need be.

      section
        p Focus on UX
        
        p: small Instead of focusing on type correctness where it doesn't remedy any real pain let's focus on making intuitive, good looking and accessibile user interface.

        p: small This kind of UI grows over time. Elm is great for writing maintainable code. 





    script(type="text/javascript" src="./index.coffee" )
